.item {
  display: flex;
  border: 1px solid rgb(185, 178, 178);
  width: 400px;
  margin-bottom: 15px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3),
    0 -5px 10px -5px rgba(0, 0, 0, 0.3), -10px 0px 10px -7px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.status {
  width: 20px;
  height: 20px;
  background-color: black;
  margin-right: 10px;
  border-radius: 100%;
}

.statusOnline {
  background-color: green;
}
.statusOffline {
  background-color: red;
}
.name {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
}
