.statistics {
  margin-left: 40px;
  
  
  
}
.title {
  
}
.statList {
  display: flex;
  list-style: none;
  padding: 0px;
  
}
.item {
  
  background-color: red;
  width: 70px;
  text-align: center;
}
.itemDocx{
    background-color: rgb(56, 196, 196);
}
.itemPdf{
    background-color: rgb(173, 9, 173);
}
.itemMp3{
    background-color: rgb(240, 97, 97);
}
.itemPsd{
    background-color: rgb(23, 177, 228);
}
.label {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;

}
.percentage {
    font-size: 24px;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}
